.header {
  display: flex;
  height: 60px;
  width: auto;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--background_color);
  padding: 0 15px;
  color: black;
}
.logo {
  height: 45px;
  width: 45px;
  border-radius: 50%;
}
.drapeau {
  height: 60px;
  width: auto;
}
.la {
  color: green;
}
.r {
  color: blue;
}
.ai {
  color: red;
}
