* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: linear-gradient(to right, #dfefff, #f5faff); */
  /* background: linear-gradient(to bottom, #f2faff, #e4f0fb); */
}
.home {
  width: 100vw;
  height: 98vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.7rem;
  color: black;
  gap: 2.3rem;
}
p {
  padding: 0.6rem;
  font-size: clamp(1rem, 3vw, 1.6rem);
  /* background-color: #5dade2; */
  /* background-color: #a3d5f7; */
  color: #003366;
  border-radius: 1rem;
  width: 50%;
  text-align: center;
  box-shadow: 0 3px 6px 2px rgba(52, 152, 219, 0.4);
}
.btn {
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0.6rem;
  outline: none;
  border: none;
  border-radius: 1rem;
  font-size: clamp(0.8rem, 3vw, 1.3rem);
  background-color: #a3d5f7;
  transition: background-color 0.3s ease;
  box-shadow: 0 3px 6px 2px rgba(52, 152, 219, 0.4);
  color: #003366;
  cursor: pointer;
}
.btn:hover {
  background-color: #3498db;
  color: black;
}
.Schéma-Questionnaire-img {
  height: 65%;
  width: 90%;
  border-radius: 1rem;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}
.Schéma-Questionnaire-img:hover {
  transform: scale(1.02);
  box-shadow: 0 8px 20px 4px rgba(52, 152, 219, 0.4);
}
.icon {
  width: 25px;
  height: 25px;
  transition: transform 0.5s ease;
  /* animation: swing 1s ease-in-out infinite; */
  /* transform-origin: top center; */
}
.btn:hover .icon {
  transform: rotate(360deg);
}

/* @keyframes swing {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(-15deg);
  }
  75% {
    transform: rotate(7.5deg);
  }
  100% {
    transform: rotate(0deg);
  }
} */
