.main-section {
  background-image: url("/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  padding: 1rem;
  box-sizing: border-box;
  color: #1e3a8a;
  font-family: Arial, sans-serif;
  margin: 0;

  width: 100vw;
  height: 90vh;
  /* min-height: 80dvh; */
  text-align: center;
}

.timer-wrapper {
  padding: 1.5rem;
  border-radius: 50%;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  margin-bottom: 1.5rem;
  transition: background-color 0.5s ease;
}
/* Color states */
.timer-blue {
  background-color: lightblue;
}
.timer-blue:hover {
  background-color: #bfdbfe;
}
.timer-pulse-red {
  animation: pulse-red 1s infinite;
}

@keyframes pulse-red {
  0% {
    background-color: lightblue;
  }
  50% {
    background-color: #ebadad;
  }
  100% {
    background-color: lightblue;
  }
}

.main-section p {
  padding: 1rem 2rem;
  border-radius: 8px;
  /* max-width: 80%; */
  width: 70%;
  /* width: auto; */
  text-align: center;
  font-size: clamp(1rem, 2vw, 1.5rem);
  box-shadow: 0 6px 18px rgba(173, 216, 230, 0.6);
  font-weight: 400;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(3px);
}

/* Responsive adjustments */
@media (min-width: 768px) {
  .main-section {
    padding: 1rem;
  }
  .main-section p {
    max-width: 70%;
  }
}
@media (min-width: 1024px) {
  .main-section p {
    max-width: 60%;
  }
  .timer-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 1440px) {
  .main-section {
    padding: 1.5rem;
  }

  .main-section p {
    max-width: 50%;
  }
}
